<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<title>OP-TEE CI and Test</title>
<body class="content">
  <table>
	  <tr>
		  <th>Git</th>
		  <th>PR#</th>
		  <th>Last commit</th>
		  <th>ID</th>
	  </tr>
	  <tr>
		  <td><a href="https://github.com/{{ pr_full_name }}">{{ pr_full_name }}</a>
		  <td><a href="https://github.com/{{ pr_full_name }}/pull/{{ pr_number }}">{{ pr_number }}</a>
		  <td><a href="https://github.com/{{ pr_full_name }}/pull/{{ pr_number }}/commits/{{ pr_sha1 }}">{{ pr_sha1 }}</a></td>
		  <td>{{ pr_id }}</td>
	  </tr>
  </table>
<p class="info">Links to log-files</p>
  <ul>
  {% for key, value in logs.items() %}
	  {% if value %}
		  <li><a href="#{{ key }}">{{ key|title }} log</a></li>
	  {% endif %}
  {% endfor %}
  </ul>
  {% for key, value in logs.items() %}
	  {% if value %}
	  <p class="info" id="{{ key }}">{{ key|title }} Log (<a href="#top">top</a>)</h2>
	  <pre class="logtable">
{{ value }}
	  </pre>
  {% endif %}
  {% endfor %}
</body>
</html>
