<html>
<head>
	<script type = "text/javascript"
		src = "{{ url_for('static', filename = 'main.js') }}" >
	</script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<title>HiKey Auto Boot</title>
<body class="content">
  <table>
	  <tr>
		  <th>Job ID / Log</th>
		  <th>Commit</th>
		  <th>Git</th>
		  <th>PR#</th>
		  <th>Date</th>
		  <th>Runtime</th>
		  <th>Status</th>
		  <th>Command</th>
	  </tr>
	  {% for l in sd %}
	  <tr>
		  <td><a href="logs/{{ l[3] }}/{{ l[2] }}/{{ l[1] }}/{{ l[4] }}">{{ l[0] }}</a></td>
		  <td><a href="https://github.com/{{ l[3] }}/commit/{{ l[4] }}">{{ l[4]|truncate(12) }}</a></td>
		  <td><a href="https://github.com/{{ l[3] }}">{{ l[3] }}</a></td>
		  <td><a href="https://github.com/{{ l[3] }}/pull/{{ l[2] }}">{{ l[2] }}</a></td>
		  <td>{{ l[5] }}</td>
		  <td>{{ l[6] }}</td>
		  <td>{{ l[7] }}</td>
		  <td><a href="stop/{{ l[1] }}/{{ l[4] }}">[stop]</a> |
			  <a href="restart/{{ l[1] }}/{{ l[4] }}">[restart]</a>
		      </td>
	  </tr>
	  {% endfor %}
  </table>
	  <div align="center">
	  {% if page > 1 %}
		<a href="{{ page - 1}}">[Less] | </a>
	  {% endif %}
		<a href="{{ page + 1}}" onclick = "sayHello()">[More]</a>
	  </div>
</body>
</html>
